{% extends "userLogin/login.html" %}
{% block contentTitle %}驗證{% endblock %}
{% block content %}
  <div class="row">
      <div class="col-md-12"><div class="well">	  
        <p class="formLabel">請致電子信箱領取驗證代碼,謝謝</p>
      </div></div>
  </div>
  <br>

  <form method=post action="{% url 'userLogin:checkVerify' %}">
  {% csrf_token %}
	<div class="row">
      <div class="col-md-12"><div class="well">	  
        <p class="formLabel">驗證代碼: <input type=text name="verifyNumber" required="required"></p>
        {% if verifyErrorMessage %}
          <span class=" errorlistText glyphicon glyphicon-info-sign"> {{verifyErrorMessage}}</span>
        {% endif %}
      </div></div>
    </div>
      
	<input type=submit value=送出>
	<span class="pull-right glyphicon glyphicon-log-in"><a href="{% url 'userLogin:login' %}"> Login</a></span>
  </form>
{% endblock %}