{% extends "userLogin/login.html" %}
{% block contentTitle %}
	{% if showForgetPasswordMessage %}
	  通知
	{% else %}
	  忘記密碼
	{% endif%}
{% endblock %}
{% block content %}
{% if showForgetPasswordMessage %}
	<div class="row">
      <div class="col-md-12"><div class="well">	  
        <p class="formLabel">請致電子信箱領取新的密碼！再進行登入並修改,謝謝</p>
      </div></div>
    </div>
    <span class="pull-right glyphicon glyphicon-log-in"><a href="{% url 'userLogin:login' %}"> Login</a></span>
    <br>
{% else %}
  <form method=post action="{% url 'userLogin:forgetpassword' %}">
  {% csrf_token %}
	<div class="row">
      <div class="col-md-12"><div class="well">	  
        <p class="formLabel">帳&emsp;&emsp;號: <input type=text name=username value="{{username}}" required="required"></p>
        {% if usernameErrorMessage %}
          <span class=" errorlistText glyphicon glyphicon-info-sign"> {{usernameErrorMessage}}</span>
        {% endif %}
      </div></div>
    </div>
      
	<div class="row">
      <div class="col-md-12"><div class="well">	  
        <p class="formLabel">{{userForm.email.label}}: {{userForm.email}}</p>
        {% if userForm.email.errors %}
          <span class=" errorlistText glyphicon glyphicon-info-sign">
            {% for errorWord in userForm.email.errors %}{{errorWord}}{% endfor %}
          </span>
        {% elif mailErrorMessage %}
          <span class=" errorlistText glyphicon glyphicon-info-sign"> {{mailErrorMessage}}</span>
        {% endif %}

      </div></div>
    </div>
      

   


	  <input type=submit value=送出>
	  <span class="pull-right glyphicon glyphicon-log-in"><a href="{% url 'userLogin:login' %}"> Login</a></span>
  </form>
{% endif %}
{% endblock %}