{% extends "main/main.html" %}

{% block content %}
{% if userForm and userProfileForm %}
  <form method=post action="/userLogin/profile/save/">
  {% csrf_token %}
    <div class="row">
      <div class="col-md-12"><div class="well">  
        <p class="formLabel">帳&emsp;&emsp;號: {{userForm.username}}</p>
      </div></div>
    </div>
  
	<div class="row">
      <div class="col-md-12"><div class="well">	  
        <p>姓&emsp;&emsp;名: {{userProfileForm.fullName}}</p>
      </div></div>
    </div>
	  
	<div class="row">
      <div class="col-md-12"><div class="well">	  
        <p class="formLabel">{{userForm.email.label}}: {{userForm.email}}</p>
        {% if userForm.email.errors %}
          <span class=" errorlistText glyphicon glyphicon-info-sign">
            {% for errorWord in userForm.email.errors %}{{errorWord}}{% endfor %}
          </span>
        {% endif %}
      </div></div>
    </div>
	<input type=submit value=儲存>
  </form>
{% else %}
  <div class="row">
    <div class="col-md-12"><div class="well"><p>使用者帳號：{{user.username}}</p></div></div>
  </div>
  
  <div class="row">
    <div class="col-md-12"><div class="well"><p>使用者姓名：{{user.userprofile.fullName}}</p></div></div>
  </div>
  
  <div class="row">
    <div class="col-md-12"><div class="well"><p>使用者信箱：{{user.email}}</p></div></div>
  </div>
  
  <form method=get action="/userLogin/profile/edit/">
  {% csrf_token %}
  <div class="form-group">
    <input type="submit" value=修改>
  </div>
  </form>
{% endif %}
{% endblock %}
