{% extends "userLogin/login.html" %}
{% block contentTitle %}註冊{% endblock %}
{% block content %}
  <form method=post action="{% url 'userLogin:register' %}">
	  {% csrf_token %}
	  <div class="row">
        <div class="col-md-12"><div class="well">  
          <p class="formLabel">帳&emsp;&emsp;號: {{userForm.username}}</p>
          {% if userForm.username.errors %}
          <span class=" errorlistText glyphicon glyphicon-info-sign">
            {% for errorWord in userForm.username.errors %}{{errorWord}}{% endfor %}
          </span>
          {% endif %}
        </div></div>
      </div>
      
      <div class="row">
        <div class="col-md-12"><div class="well">	  
          <p class="formLabel">密&emsp;&emsp;碼: {{userForm.password}}</p>
          {% if userForm.password2.errors %}
          <span class=" errorlistText glyphicon glyphicon-info-sign">
            {% for errorWord in userForm.password2.errors %}{{errorWord}}{% endfor %}
          </span>
          {% endif %}
          
        </div></div>
      </div>
      
      <div class="row">
        <div class="col-md-12"><div class="well">	  
          <p>{{userForm.password2.label}}: {{userForm.password2}}</p>
        </div></div>
      </div>
      
	  
	  <div class="row">
        <div class="col-md-12"><div class="well">	  
          <p>姓&emsp;&emsp;名: {{userProfileForm.fullName}}</p>
        </div></div>
      </div>
	  
	  <div class="row">
        <div class="col-md-12"><div class="well">	  
          <p class="formLabel">{{userForm.email.label}}: {{userForm.email}}</p>
          {% if userForm.email.errors %}
          <span class=" errorlistText glyphicon glyphicon-info-sign">
            {% for errorWord in userForm.email.errors %}{{errorWord}}{% endfor %}
          </span>
          {% endif %}
        </div></div>
      </div>

	  <input type=submit value=送出>
	  <span class="pull-right glyphicon glyphicon-log-in"><a href="{% url 'userLogin:login' %}"> Login</a></span>
  </form>
{% endblock %}