{% extends "main/main.html" %}
{% load staticfiles %}
{% block content %}
<style>
  body {
    background: url('/static/main/img/etbg.jpg');
    padding-top: 50px;
    background-size: 100% 100%;
  }

  p {
    text-align: center;
    font-size: 60px;
    margin-top:0px;
    }
</style>

<center>
    <h1><strong>開吃</strong></h1>
    <p id="demo">1 : 31 : 40 </p>
    <img src="/static/main/img/starteat.png" class="img-responsive">

    <a class="btn btn-primary btn-lg" href="/startEat/challenge/?" role="button">挑　　戰</a>　
    <a class="btn btn-danger btn-lg" href="/startEat/end/?" role="button">結束用餐</a>
</center>

<script>
// Update the count down every 1 second
var distance = 5500000;
var x = setInterval(function() {
    
    // Find the distance between now an the count down date
    distance -= 1000;
    
    // Time calculations for days, hours, minutes and seconds
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = hours + " : " + minutes + " : " + seconds + " ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "Good Ending";
    }

    
}, 1000);
</script>
{% endblock %}