{% extends "main/main.html" %}
{% load staticfiles %}
{% block content %}
<style>
  body {
    background: url('/static/main/img/invite.jpg');
    padding-top: 50px;
    background-size: 100% 100%;
  }
</style>
<p><h3>Title: 歡樂吃</h3></p>
<p><h3>Date: 2018/04/01 17:00</h3></p>
<p><h3>Place: 淡江大學</h3></p>
<p><h3>Count: 5</h3></p>
<p><h3>PW: 12345678</h3></p>
<p><h3>Comment: 黑客松活動現場</h3></p>


<table class="table">
    <tr class="warning"><th>等級</th><th>姓名</th><th>電話</th><th>距離</th></tr>
    <tr class="active" align="center">
      <td>1</td>
      <td>融哥</td>
      <td>0912345678</td>
      <td>Local</td>
    </tr> 
    <tr class="warning" align="center">
      <td>2</td>
      <td>丞丞</td>
      <td>0912345478</td>
      <td>2.5km</td>
    </tr>
    <tr class="active" align="center">
      <td>3</td>
      <td>祥哥</td>
      <td>09155555555</td>
      <td>3.0km</td>
    </tr>
    <tr class="warning" align="center">
      <td>4</td>
      <td>胖胖</td>
      <td>0987654321</td>
      <td>1.3km</td>
    </tr>
    <tr class="active" align="center">
      <td>5</td>
      <td>表哥</td>
      <td>0987654321</td>
      <td>1.9km</td>
    </tr>
</table>
<center>
<form method=get action="#">
<input style="width:40%"  class="btn btn-primary btn-lg" type=submit value="邀請">
</form>
</center>

{% endblock %}