{% extends "main/main.html" %}
{% load staticfiles %}
{% block content %}
<style>
  body {
    background: url('/static/main/img/invite.jpg');
    padding-top: 50px;
    background-size: 100% 100%;
  }
</style>
<form method=post action="/eatTogether/invite/">

  {% for field in inviteForm %}
  {% csrf_token %}
    <p>{{ field.label }}: {{ field }}
       {% if field.errors %}
         <span id=inviteForm>{{ field.errors }}</span>
       {% endif %}  
    </p>
  {% endfor %}
  <input  class="btn btn-primary btn-lg" type=submit value=submit>
</form>


{% endblock %}